/* body {
    overflow: hidden;
} */

.page-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    max-width: 720px;
}

#down-button {
    filter: invert();
    width: 27px;
    cursor: pointer;
}
#home-page {
    background-image: linear-gradient(hsl(0, 0%, 25%), hsl(270, 15%, 15%));
}
#about-page {
    background-image: linear-gradient(hsl(270, 15%, 15%), hsl(270, 40%, 15%));
}
#projects-page {
    gap: 20px;
    background-image: linear-gradient(hsl(270, 40%, 15%), hsl(270, 75%, 40%));
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-width: 600px;
}
.grid-item {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: hsl(0, 0%, 15%);
    border: 1px solid;
    border-color: hsl(0, 0%, 63%);
    border-radius: 0 7px 0 7px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.grid-item.complete {
    color: hsl(0, 0%, 15%);
    background-color: hsl(120, 50%, 60%);
}

#social-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items:end;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
}
#social-links {
    filter: invert();
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
#social-links a {
    width: 24px;
}