#table-container {
    max-width: 80vh;
    min-height: 240px;
    min-width: 240px;
}

td {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: none;
    border-radius: 2px;
    cursor: pointer;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
    color: hsl(44, 92%, 15%);
}

#promotion-panel,
#end-screen {
    display: none;
    position: absolute;
    width: auto;
    background-color: hsl(30, 50%, 40%);
    border: 5px solid hsl(44, 92%, 15%);
}

#promotion-panel.active,
#end-screen.active {
    display: unset;
}

.promotion-option {
    opacity: 1;
}